* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.firstSection {

    background-image: url(indexImg/white-wallpaper-8.jpg);
    background-size: 100vw;

}

.headerContainer {
    padding: 2vw;
    background-color: F000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a {
    cursor: pointer;
}

/* nav bar */

nav a:link, nav a:visited {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    text-decoration: bold;
}

nav a:hover, nav a:active {
    opacity: 0.5;
}

.navigation {
    display: flex;
    gap: 4vw;
    font-size: 1.3vw;
}

/* header field */


.logo {
    font-family: "times new roman", "sans-serif";
    letter-spacing: 5px;
    color: black;
    font-size: 2vw;
}

.logo a:link, .logo a:visited {
    text-decoration: none;
}

.logo a:hover, .logo a:active {
    text-decoration: none;
}

/* footer */

footer {
    font-family: sans-serif;
    font-size: 10px;
    margin: 40px;
}

/* Body container */

.container {
    margin: 2vw;
    margin-top: 5vw;
}

.greeting {
    font-family: serif;
    font-weight: 700;
    font-size: 4vw;
}

.intro {

    font-size: 1vw;

}

