* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
}

/* Side bar */

/* Side bar header field */

.logo {
    font-family: "times new roman", "sans-serif";
    letter-spacing: 6px;
    color: black;
    font-size: 32px;
    margin: 25px;
}

.salaryCalculator {

    background-color: rgb(187, 187, 187);

}

.sideBar {

    border-right: 1px solid;
    width: 300px;
    height: 100vh;
    /* position: fixed; */

}

.sidebarHead {

    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;

}

.dropdown {

    border: none;
    font-size: 18px;
    font-weight: bold;
}

#projectTypeNav {
    border: none;
    font-family: sans-serif;
    font-size: 18px;
    display: block;
}
.headIcon {

    height: 50px;
    width: 60px;

}

.projectSelector {

    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 15px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top:20px;
    align-content: center;
}

.projectIcon {

    width: 50px;
    height: 40px;
}


/* header */

a {
    cursor: pointer;
}

/* nav bar */

.navigation a:link, .navigation a:visited {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    text-decoration: bold;
}

.navigation a:hover, .navigation a:active {
    opacity: 0.5;
}

/* .navigation {
    font-size:1.1vw;
    align-items: center;
    width: auto;
    display: grid;
    grid-template-columns: 70vw 8vw 8vw 8vw;
    grid-template-rows: 50px;
    column-gap: 2vw;
} */

.navItem1 {
    grid-column: 2/3;
}

.navItem2 {
    grid-column: 3/4;
}

/* main content */
/* first div - intro */

.projectIntro {

    height: 600px;
    padding: 40px;

}
/* 
#buttonEventHandler {

    width: 100px;
    height: 100px;

} */