* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
}

/* Side bar */

/* Side bar header field */

.logo {
    font-family: "times new roman", "sans-serif";
    letter-spacing: 6px;
    color: black;
    font-size: 32px;
    margin: 25px;
}

.sideBar {

    border-right: 1px solid;
    border-color: rgb(180, 180, 180);
    width: 275px;
    height: 100vh;
    position: fixed;

}

.sidebarHead {

    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;

}

.dropdown {

    border: none;
    font-size: 18px;
    font-weight: bold;
}

#projectTypeNav {
    border: none;
    font-family: sans-serif;
    font-size: 18px;
    display: block;
}
.headIcon {

    height: 40px;
    width: 45px;

}

.projectSelector {

    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight:bold;
    letter-spacing: 1px;
    gap: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top:20px;
    align-content: center;
}

.projectIcon {

    width: 30px;
    height: 25px;
}


/* header */

a {
    cursor: pointer;
}

/* nav bar */

.navigation a:link, .navigation a:visited {
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    text-decoration: bold;
}

.navigation a:hover, .navigation a:active {
    opacity: 0.5;
}

.navigation {
    font-size:1.1vw;
    align-items: center;
    width: auto;
    display: grid;
    grid-template-columns: 275px calc(67vw - 275px) 8vw 8vw 8vw;
    grid-template-rows: 50px;
    column-gap: 2vw;
    justify-content: center;
    letter-spacing: 1px;
}

.navItem1 {
    grid-column: 3/4;
}

.navItem2 {
    grid-column: 4/5;
}

/* main content */
/* first div - intro */

.projectIntro {

    height: 600px;
    padding: 40px;

}
/* 
#buttonEventHandler {

    width: 100px;
    height: 100px;

} */

@media screen and (max-width: 1000px){

    .navigation{
        font-size: 12px;
    }

}

@media screen and (min-width: 1001px){

    .navigation{
        font-size: 0.9vw;
    }

}

/** page specific css **/

.salaryCalculator {

    background-color: rgb(180, 180, 180);

}

article {

    display: grid;
    grid-column: 275px calc(100vw - 275px);
    grid-row: auto auto auto;

}

.projectIntro {

    grid-row: 1;
    grid-column: 2;

}

.results {
    grid-row: 2;
    grid-column: 2;
}

#buttonEventHandler{

    grid-row: 3;
    grid-column: 2;

}



